.*
.libs
*.swp
Makefile*
*.diff
*.sh
build
*.lo
*.o
tags
libtool
autom4*
modules
include
.deps
ac*.m4
config.guess
config.h*
config.nice
config.sub
configure*
install-sh
ltmain.sh
missing
mkinstalldirs
scan_make*
config.log
config.status
*.la
