<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>OOPS PHP KOREAN EXTENSIONS</title>
<style type="text/css">
A:LINK, A:VISITED, A:ACTIVE { TEXT-DECORATION: NONE; COLOR:#000000; }
A:HOVER { TEXT-DECORATION:UNDERLINE; COLOR:#000000; }
TD,BODY { FONT-SIZE:12px; FONT-FAMILY:굴림체; COLOR:#000000; }
UL { FONT: 12px 굴림체; COLOR:#000000; }
LI { FONT: 12px 굴림체; COLOR:#000000; }
P  { FONT: 12px 굴림체; COLOR:#000000; }
    #title { FONT: 20px Tahoma; COLOR:#A28451; font-weight:bold; }
    #EN { FONT: 13px Tahoma; COLOR:#000000; }
    #KO { FONT: 12px 굴림체; COLOR:#000000; }
    #MA { COLOR:#CD7A1C }
    #BO { COLOR:#EBEAFF }
    #OG { COLOR:ORANGE; FONT-WEIGHT:BOLD }
    #RD { COLOR:RED; FONT-WEIGHT:BOLD }
    #CH { COLOR:#BDC8BF; FONT-WEIGHT:BOLD }
    #WA { COLOR:#A28451; FONT-WEIGHT:BOLD}
    #RE { COLOR:#C65151; FONT-WEIGHT:BOLD}
    #BG { FONT-SIZE:15pt }
    #TI { FONT-SIZE:15pt; COLOR:#4A8EF6; FONT-WEIGHT:BOLD }
    #B  { FONT-WEIGHT:BOLD }
</style>
</head>

<body leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>

<table border=0 width="100%" cellpadding=0 cellspacing=0>
<tr>
<td bgcolor="#9999cc">
<a href="http://devel.oops.org/index.php?c=3"><img src="./img/php_logo.gif" width="120" height="64" border=0 alt=""></a>
</td>
<td bgcolor="#9999cc" align="right" valign=bottom>
<font style="font: 12px tahoma;">
OOPS PHP Extensions v <?=$version?>
<img src="./img/blank.gif" width=10 height=1 border=0 alt="">
</font>
<td>
</tr>

<tr><td bgcolor="#333366" colspan=2><img src="./img/blank.gif" width=1 height=1 border=0 alt=""></td></tr>

<tr><td bgcolor=#666699 colspan=2 align="right">
<font style="color: #ffffff">
OOPS Development Organization <a href="http://devel.oops.org/"><font style="color:#ffffff">http://devel.oops.org</font></a>
<img src="./img/blank.gif" width=10 height=15 border=0 alt="">
</font>
</td></tr>

<tr><td bgcolor="#333366" colspan=2><img src="./img/blank.gif" width=1 height=1 border=0 alt=""></td></tr>
</table>

<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td bgcolor="#f0f0f0" valign="top">
<img src="./img/blank.gif" width=150 height=10 border=0 alt=""><br>
<table width="100%" cellpadding=0 cellspacing=4 border=0>
<tr><td>
&nbsp;<img src="./img/caret-t.gif" border=0 width=11 height=7 alt=""><a href="http://www.php.net/manual/kr/">PHP Manual</a><br>
</td></tr>
<tr><td bgcolor="#cccccc"><img src="./img/blank.gif" width=1 height=1 border=0 alt=""></td></tr>
<tr><td>
&nbsp;<img src="./img/caret-u.gif" border=0 width=11 height=7 alt=""><a href="./?func=ref">Function Reference</a><br>
</td></tr>
<tr><td bgcolor="#cccccc"><img src="./img/blank.gif" width=1 height=1 border=0 alt=""></td></tr>
<tr><td>
<br>
&nbsp;<img src="./img/box-0.gif" border=0 width=11 height=7 alt=""><a href=./>처음</a><br>
&nbsp;<img src="./img/box-0.gif" border=0 width=11 height=7 alt=""><a href=./>소개</a><br>
&nbsp;<img src="./img/box-0.gif" border=0 width=11 height=7 alt=""><a href=./#changelog>개발상황</a><br>
&nbsp;<img src="./img/box-0.gif" border=0 width=11 height=7 alt=""><a href=./#install>설치</a><br>
<?=$plist?>

</td></tr>
</table>

</td>
<td background="./img/checkerboard.gif"><img src="./img/blank.gif" width=2 height=1 border=0 alt=""></td>
<td valign="top">

<table width=620 cellpadding=10 cellspacing=0 border=0>
<tr><td>

<table bgcolor="#e0e0e0" width=620 cellpadding=0 cellspacing=4 border=0>
<tr>
<td><?=$prev?></td>
<td align="right">
<?=$next?>
</td>
</tr>
<tr>
<td bgcolor="#cccccc" colspan=2><img src="./img/blank.gif" width=1 height=1 border=0 alt=""></td>
</tr>
<tr>
<td align="right" colspan=2>
Last updated : <?=$updates?><br>
</td>
</tr>
</table>

<!--------------------- context of reference ----------------------------->
<pre>

<?=$txt?>

</pre>
<!--------------------- context of reference ----------------------------->

</td></tr>
</table>

</td>
</tr>
</table>

<table border=0 width="100%" cellpadding=0 cellspacing=0>
<tr><td bgcolor="#333366"><img src="./img/blank.gif" border=0 width=1 height=1 alt=""></td></td>
<tr><td bgcolor="#9999cc" align="right">
<a href="./?func=copy"><font color="#ffffff">copyright</font></a> |
<a href="./?func=credit"><font color="#ffffff">credit</font></a>
<img src="./img/blank.gif" width=2 height=15 border=0 alt="">
</td></tr>
<tr><td bgcolor="#333366"><img src="./img/blank.gif" border=0 width=1 height=1 alt=""></td></td>
</tr>
</table>

<table border=0 width="100%" cellpadding=5 cellspacing=0>
<tr bgcolor="#cccccc">
<td align="right">
Copyright ⓒ 1999-<?=date("Y",time())?> <a href="http://www.oops.org/">OOPS Development Organization</a><br>
All right reserved
</td>
</tr>
</table>

</body>
</html>
